/* font-family: 'Arvo', serif;
font-family: 'Comfortaa', cursive; */ 

html {
    scroll-behavior: smooth;

    --index:1;

    --fontH1: calc(58px*(var(--index)));
    --fontH2: calc(28px*(var(--index)));
    --fontH3: calc(35px*(var(--index)));
    --fontP: calc(22px*(var(--index)));

    --lineH_H1: calc(90px*(var(--index)));
    --lineH_H3: calc(80px*(var(--index)));
    --lineH_P: calc(35px*(var(--index)));
    

    --coolLetterSpasing: 2px;
    --gridPartPadding: 30px 30px;


    --widthText: 80%;
    --widthBackground: 90%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(pictures/background.jpg);
    z-index: 1;
}

 .container {
    z-index: 2;
    box-sizing: content-box;
     /* position: relative; */
     max-width: 80%;
     margin: 0 auto;
    padding: 0px 25px;

     background-color: rgba(255, 255, 255, 0.4); 
 }

 header .container,  footer .container {
padding: 2% 25px;
position: relative;
/* height: 15%; */
background-color:rgba(255, 255, 255, 0.6) ;
 }

 nav {
    float: right;
    max-width: 1500px;
    /* height: 10px; */

    letter-spacing: var(--coolLetterSpasing);
}

nav ul {
    /* margin: 0;
    padding: 0; */
    list-style: none;
  }

nav ul li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    margin-right: 25px;
}

nav ul li a {

    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: calc(var(--fontP) - 3px) ;
    color: brown;
    text-decoration: none;
    text-align: center;
    line-height: var(--fontP);

    border: 5px solid white;
    border-radius: 10%;
    background-color: white;

    cursor: pointer;
}

                        /* для буршер меню */
.menu-btn{
    display: none;
    align-items: center;

    position: absolute;
    top: 8px;
    right:3%;
    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #272626;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 180px;
    height: auto;
    margin: 0;
    padding: 20px 5px 20px 0px;
    margin-right: 7%;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
   
  .menu-item {
    display: block;
    /* padding: 12px 24px; */
    /* color: brown;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600; */
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #CFD8DC;
  }
   
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    top: 40px;
    right: 0;
  }

                        /* для буршер меню */





.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: stretch; */
    grid-gap: 10px;
    align-items: start;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: minmax(300px, auto);
    /* border:2px solid brown; */
}
.mainText{
    align-self: center;
}

 h1 {
    font-family: 'Arvo', serif;
    font-size: var(--fontH1);
    line-height: var(--lineH_H1);
    text-align: center;
    /* padding-top: 9%; */
 }

h1 span.import{
    display: inline-block;
    padding: 5px 10px;
    font-size: calc(var(--fontH1) + 2px);

    color: white;

    border-radius: 5px;
    mix-blend-mode: multiply;
    background: linear-gradient(180deg, white 15%, brown 75%, white);  
 }
  h2 span.import{
    color: white;
    mix-blend-mode: multiply;
    background: linear-gradient(180deg, white 10%, brown 75%);  
 }

h2.important {
    display: inline-block;
    font-family: 'Comfortaa', cursive; 
    font-size: var(--fontH2);
    padding: 3% 10%;
    text-align: justify;
}

#mainPhoto{
margin: 8% 2%;
/* width: calc(777px*var(--index) - 500px*var(--index)); */
max-width: 700px;
min-width: 150px;
padding-left: calc(18% * var(--index));
/* align-self: end; */
/* border: 5px solid rgba(165, 42, 42,0.5); */
}

#mainPhoto img{
width: calc(777px*var(--index) - 300px*var(--index));
}

main h3 {
    display: inline-block;
    font-family: 'Arvo', serif;
    font-size: var(--fontH3);
    line-height: var(--lineH_H3);
    width: calc(var( --widthText) - 25%);
    background-color: rgba(255, 255, 255, .5);
    padding:0px 13%;
    border-top-right-radius: 20% ;
    border-bottom-right-radius: 20% ;
}

.grid-part {
    padding: var(--gridPartPadding);
    position: relative;
    /* grid-auto-rows: minmax(300px, auto); */
}
.triengle {
    background-image: url(pictures/backgTraengle.jpg);
    width: var(--widthBackground);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; 
    border-top-right-radius: 35%;
    border-bottom: 5px solid gainsboro;
  }

.grid-part p, .grid-part ul {
    font-family: 'Comfortaa', cursive; 
    font-size: var(--fontP);
    letter-spacing: var(--coolLetterSpasing);
    font-weight: 800;
    line-height: var(--lineH_P);

    padding: 3% 3% 1% 5%;
    margin: 0% 10% 0% 0%;
    display: block;
    background: linear-gradient(90deg, rgba(255, 255,255, 0.65) 90%, transparent);
    
}

#contacts p{
    text-align: left;
    width: 50%;
    /* padding: 3% 3% 1% 5%;
    margin: 0% 10% 0% 0%; */

}

.pointer {
     width: var(--widthBackground);

     background-image: url(pictures/bro.jpg);
     background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; 

    border-top-right-radius: 35%;
    border-bottom: 5px solid gainsboro; 
  }
  

.grid-part ul {
    padding: 5% 0% 5% 10%;
    line-height: var(--lineH_P);
    
}
#contacts ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }

.icon p{
    display: inline-block;

    width: var(--widthText);

    margin: 0px;
    margin-left: 10px;
    padding: 5px 0px 0px 0px;

    line-height: 1.5em;
    text-align: center;
    font-size: var(--fontP);
    
}


.icon img[src*="mail"], .icon img[src*="vk"], .icon img[src*="discord"],.icon img[src*="phone"] {
    width: 9%;
    height: 10%;
    padding-left: 10px;

    border-radius: 50%  50%;
}


.icon img[src*="git"] {
    width: 9%;
    height: 10%;
    padding-left: 10px; 

    border-radius: 50%;
}
.icon a {
    color: black;
    text-decoration: none;
}

code {
   padding: 0px 3% 0px 3%;
   width: 80%;
    margin: 0px auto;
    overflow: hidden;
    /* background: linear-gradient(90deg, rgba(255, 255,255, 0.65) 70%, transparent); */
} 
#code p{
    font-size: calc(22px * (var(--index)) - 3px);
    line-height: calc(35px * (var(--index)) - 7px* (var(--index)));
}
#code pre {
    font-size: calc(22px * (var(--index)) - 7px * (var(--index)));
    line-height: calc(35px * (var(--index)) - 15px * (var(--index)));
}

.grid-container-pic {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */

    align-items: center;
    justify-items: center;
}

figure>img[src$="DSC_0036.JPG"], figure>img[src$="DSC_0003.JPG"] {
    width: 90%;
    border-top-right-radius: 100% 20%;
}
figure>img[src$="DSC_0029.JPG"] {
    width: 95%;
    padding-bottom: var(--myHeadAche);

     border-top-right-radius: 100% 20%;
}

#video {
    padding: 6% 0px;
    margin: 0px auto;
    text-align: center;
}

#video h3{
    width: 50%;
    border-top-right-radius: 0% ;
    border-bottom-right-radius:0% ;
    margin: 1%;
}

footer .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    padding: 0px;
    margin: 0px;

    font-family: 'Arvo', serif;
    font-size: var(--fontH3);
    line-height: var(--lineH_H1);
    text-align: center; 
    /* border: 1px solid salmon; */
}

@media (max-width: 1630px){
html{
    --index: 0.85;
}
iframe {
    width: calc(1100px * var(--index));
    height: calc(600px * var(--index));
}
footer img[src*="rs_school"], header img[src*="rs_school"]{
    width: calc(100px * var(--index));
    }
}

@media (max-width: 1380px){
    
    html{
        --index: 0.65;
    }

    footer img[src*="rs_school"], header img[src*="rs_school"]{
    width: calc(100px * var(--index));
    }
}

@media (max-width: 1050px){
    nav .standart-menu {
        display: none;
    }
    nav .menu-btn {
        display: flex;
    }
    nav ul li {
    display: block;
}
nav ul li a {
    text-align: left;
    padding-left: 5%;
}

iframe {
    width: calc(1100px * var(--index) - 450px * var(--index));
    height: calc(600px * var(--index) - 180px * var(--index));
}

    html{
        --index: 0.5;
    }
footer img[src*="rs_school"], header img[src*="rs_school"]{
    width: calc(100px * var(--index));
    }
footer img[src*="YouTube"]{
    width: calc(90px * var(--index));
    }
    
}

@media (max-width: 768px){
    html{
        --index: 0.55;
        --widthText: 60%;
       --widthBackground: 100%;
       --gridPartPadding: 30px 15px;
    }
  
   
    .grid-container{
        grid-template-columns: 1fr;  
        align-items: center;
        justify-content: center;
        grid-auto-rows: auto;
        /* margin: 0px auto; */
    }
    #mainPhoto{
    margin: 3% auto;
    padding-left: 0px;
    }
    .grid-part p, .grid-part ul{
    padding: 2% 3% 1% 10%;
    margin: 0% 1% 0% 0%;
    }
    main h3 {
        padding:0px 13%;
    }
    h2.important {
        padding: 3% 4%;
    }
    .triengle, .pointer{
        border-bottom: 3px solid gainsboro;
    }
    iframe {
        height: 180px;
    }

}

@media (max-width: 450px){
    html{
        --index: 0.35;
        --widthText: 70%
    }
  
    #mainPhoto{
        margin: 3% auto;
        padding-left: 0px;
        /* align-self: center; */
    }
    .grid-container{
        grid-template-columns: 1fr;  
        align-items: center;
        justify-content: center;
        grid-auto-rows: auto;
        /* margin: 0px auto; */
    }

    .grid-part{
        margin: 0px 5%;
    }
    .grid-part p, .grid-part ul{
    padding: 2% 3% 1% 10%;
    margin: 0% 1% 0% 0%;
    }
    main h3 {
        padding:0px 13%;
        width: calc(var( --widthText) - 15%);
    }
    h2.important {
        padding: 3% 4%;
        margin: 0px 5%;
        box-sizing: content-box;
    }
    .icon img {
        padding-left: 2px;
    }
    iframe {
        height: 150px;
    }
}